@import '../Colors.css';

.button {
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  /* margin-right: 1rem; */
  background-color: var(--blue);
  width: 100%;
  text-align: start;
}

.button:hover {
  opacity: 0.8;
  background-color: var(--lightBlue);
}

.button:disabled {
  cursor: not-allowed;
}

.button.active {
  background-color: var(--lightBlue);
  color: var(--black);
}