.glx {
  display: flex;
  color: var(--text-color);
  height: calc(100vh - 60px);
}

.navbar {
  padding: 10px 0;
  height: calc(100vh - 60px);
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* 
.navbar p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
} */

.main-section {
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  flex: 1;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 14px 20px;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 300;
  color: var(--link-color);
}

.link:hover {
  background-color: var(--link-hover-background);
  color: var(--link-hover-color);
}

.link.active {
  background-color: var(--link-active-background);
  color: var(--link-active-color);
}

.packets-section {
  display: flex;
  flex-direction: column;
}

.packets-container {
  height: calc(100vh - 100px);
}


