.glx {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
  height: calc(100vh - 60px);
}

.navbar {
  height: calc(100vh - 60px);
  width: 200px;
  background-color: var(--second-color);
}

.main-section {
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  flex: 1;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--second-color);
}

.link button {
  color: black;
}

.link.active {
  background-color: var(--background-color);
  color: black;
}

.packets-section {
  display: flex;
  flex-direction: column;
}

.packets-container {
  flex: 1;
  overflow: auto;
  /* padding: 10px 0; */
}


