@import './Colors.css';

.glx {
  display: flex;
  background-color: var(--lightBlue);
  color: var(--black);
}

.sec {
  height: calc(100vh - 50px);
  width: 200px;
  background-color: var(--blue);
}


.link {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--blue);
}