@import './components/Variables.css';

* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  /* text-align: center; */
}

header {
  display: flex;
  height: var(--header-height);
  padding: 5px 20px;
  align-items: center;
  background-color: var(--header);
}

.home-section {
  width: calc(100% - 200px);
  text-align: center;
}

.home-section h3 {
  margin-top: 250px;
}

.table-parent {
  margin: 0 30px;
  height: 100%;
  /* height: calc(100vh - 102px); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table {
  flex: 1;
}

.toolbar {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.karmir {
  width: 400px;
  background-color: var(--second-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(400px);
  transition: transform 0.2s linear;
  z-index: 100;
}

.karmir.bacvac {
  transform: translateX(0px);
}

.control {
  border: 1px solid #ccc;
  background: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 300px;
  margin: 15px;
  margin-bottom: 1rem;
}

.control:hover {
  background-color: rgb(221, 220, 220);
}

.buttons {
  margin: 30px;
  position: absolute;
  bottom: 0;
  width: 340px;
  display: flex;
  justify-content: space-between;

}

.buttons button {
  background-color: rgb(160, 154, 154);
  color: var(--button-text-color);
}


.back {
  position: absolute;
  background-color: rgba(110, 110, 110, 0);
  top: var(--header-height);
  width: 100%;
  z-index: 10;
  transition: background-color 0.2s linear;
}

.back.background {
  background-color: rgba(110, 110, 110, .5);
}


.about {
  width: 100%;
  margin-bottom: 10px;
  flex: 1;
  border-radius: 10px;
  border-inline-start: 1px solid #f0f0f0;
  background-color: rgb(243, 242, 242);
  display: none;
  position: relative;
}
.about.ab {
  display: block;
}

.about pre {
  padding: 30px;
}

.relative {
  color: black;
}

.select {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.input {
  display: none;
}

.input.show {
  display: flex;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

